<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4" style="width:400px">
    <h3 class="text-center mb-3">Verify OTP</h3>

    <div *ngIf="success" class="alert alert-success">{{ success }}</div>
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

    <form (ngSubmit)="verify()" #f="ngForm">
      <div class="mb-3">
        <label class="form-label">OTP Code</label>
        <input name="otp" required [(ngModel)]="model.otpCode" class="form-control" />
      </div>

      <button class="btn btn-primary w-100 mb-2" [disabled]="f.invalid">Verify</button>
      <button type="button" class="btn btn-secondary w-100" (click)="resend()">Resend OTP</button>
    </form>
  </div>
</div>
